:root{

  /**  Отступы  */
  --gap-xl: 20px;
  --gap-l: 0px;

  --padding-block: 0px;
  --padding-inline: 0px;

  /**  Скругления углов  */
  --border-radius-default: 20px;

  /**  Основные цвета */
  --main-color-white: white;
  --main-color-oran-svetl: #FFF3E3;
  --main-color-oran-temn: #B88E2F;
  --main-color-ser: #666666;
  --main-color-ser_sv: #F4F5F7;
  --maim-color-ser_svetl: #B0B0B0;
  --main-color-red-sv: #E97171;
  --main-color-green-sv: #2EC1AC;
  --main-color-grey: #9F9F9F;
  /**  Шрифты */
  --font-family-title: "Open Sans";
}