<div class="cart_our_products">
    <picture>
        <source srcset="@@img-sm.webp" media="(max-width: 480px)">
        <source srcset="@@img-lg.webp" media="(max-width: 800px)">
        <img src="@@img.webp" alt="@@alt" class="card__image">
        <div class="krug"
        style="background-color: @@background-color;
        "
        >@@skidka</div>
    </picture>
    <div class="simple-hover">
        <div class="actions">
            <span>Share</span>
            <span>Compare</span>
            <span>Like</span>
        </div>
        <button class="add-to-cart">Add to cart</button>
    </div>
    <h1 class="zagolovok_cart_products">@@title</h1>
    <p class="text_products">@@text</p>
    <div class="stoimost">
        <h3 class="st_skidka">@@stoim-sk</h3>
        <p class="st_prezhn">@@stoim-pr</p>
    </div>
</div>