<div class="footer">
    <div class="colm">
        <h1 class="logo_footer">Funiro.</h1>
        <p class="text_footer">400 University Drive Suite 200 Coral <br>Gables, <br>
            FL 33134 USA</p>
    </div>
    <div class="colm_one">
        <ul>
            <li class="gl_slovo">Links</li>
            <li class="slovo">Home</li>
            <li class="slovo">Shop</li>
            <li class="slovo">About</li>
            <li class="slovo">Contact</li>
        </ul>
    </div>
    <div class="colm_two">
        <ul>
            <li class="gl_slovo">Help</li>
            <li class="slovo">Payment Options</li>
            <li class="slovo">Returns</li>
            <li class="slovo">Privacy Policies</li>
        </ul>
    </div>
    <div class="colm_three">
        <ul>
            <li class="gl_slovo">Newsletter</li>
        </ul>
        <div class="form">
            <form>
                <input type="email" placeholder="Enter Your Email Address" class="email-input">
                <button type="submit" class="subscribe-btn">SUBSCRIBE</button>
            </form>
        </div>
    </div>
</div>
<div class="razdel"></div>
<p class="text_foot">2023 furino. All rights reverved</p>